// Body
$body-bg: #e9ecf3;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #1127ab;
$dark: darken($primary,10%);
$white: #fff;
$light: lighten($primary, 62%);
$text-muted: darken($light, 23%);

//Backgrounds
$bg-yellow: lighten($yellow, 30%);


//Border Radius

$border-radius:    3px !default;
$border-radius-lg: 3px !default;
$border-radius-sm: 3px !default;
$border-color: darken($light, 7%); 

//Cards

$card-border-color: darken($light, 7%);
$card-cap-bg: $light;

//Tables
$table-dark-bg: $light;
$table-accent-bg: $light