// Variables
@import 'variables';

body{
	padding-top: 90px;
	background: darken($light, 2%);
}

.container-fluid{
	
	max-width: 1350px;

}

.logo{
	img{
		height: 59px;
	}
}

.bg-yellow{
	
	background: $bg-yellow;

}

.header_master{

	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: $dark;

	@media screen and(max-width: 640px){

		height: auto;

	}

}

.main_master{
	min-height: calc(100vh - 278px);
}

.mx-datepicker{
	width: 100% !important;
}

.nowrap{
	white-space: nowrap;
}

.badge{
	padding: 4px 12px !important;
	font-size: 90% !important;
	font-weight: 400 !important;
}

.avatar{

	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&.sm{

		width: 45px;
		height: 45px;

	}

	&.lg{
	
		width: 90px;
		height: 90px;

	}

	&.xl{

		width: 130px;
		height: 130px;

	}

}

.table{
	
	&.table-align-middle{

		th, td{
	
			vertical-align: middle;

		}

	}

}

.thumb{
	
	height: 90px;
	width: 90px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	cursor: pointer;

	.remove_icon{

		position: absolute;
	    background: $red;
	    color: $white;
	    display: block;
	    width: 24px;
	    height: 24px;
	    border-radius: 50%;
	    right: -7px;
	    top: -9px;
	    text-align: center;
	    line-height: 21px;
	    border: 2px solid $white;
	    font-size: 12px;

	}

}

.svg_img{
	
	opacity: .28;

}


.comp-full-calendar{
	
	
	width: 960px !important;
	

}

.full-calendar-body .dates .dates-events .events-week .events-day{
	
	height: 100px;

}

.full-calendar-body .dates .dates-events .events-week{
	
	height: 100px;

}
