<template>
	
	<div>
		
		<modal id="advisNotificationModal" title="Cita por expirar" size="modal-lg" no_footer="true">
			<template #default>
				
				
				<p class="lead">
					Las siguientes citas estan por expirar en menos de <span class="text-danger">10 Minutos</span>
				</p>

				<table class="table table-bordered m-0 table-sm">
					
					<thead>
						<tr>
							<th>Compañía</th>
							<th>Visitantes</th>
							<th>Departamento</th>
							<th>Encargado</th>
							<th class="text-center">Ver más</th>
						</tr>
					</thead>


					<tbody>
						<tr v-for="date in dates">
							<td v-text="date.company_name"></td>
							<td v-text="date.visitors_total"></td>
							<td v-text="date.department_name"></td>
							<td v-text="date.host_name"></td>
							<td class="text-center">
								<a :href="date_route(date.id)">
									Ver cita <i class="fa fa-angle-right fa-sm ml-2"></i>
								</a>
							</td>
						</tr>
					</tbody>

				</table>


			</template>
		</modal>

	</div>

</template>

<script>

	import Modal from './Modal';

	export default {

		data(){

			return {

				dates: []

			}

		},

		components: {Modal},

		created(){

			let t = this;

			window.Echo.channel('dates').listen('DatesWillExpire', e => {

				console.log(e);

			    t.dates = e.dates;

			    $('#advisNotificationModal').modal('show');

			});

		},

		methods: {

			date_route(id){

				let t = this;

				return t.$root.$data.root + '/dates/' + id;

			}

		}
		
	}

</script>