<template>
	
	<div class="card shadow-sm">
		<div class="card-header d-flex align-items-center">
			<p class="lead m-0">
				<i class="fa fa-handshake mr-2 text-muted fa-fw"></i>
				Sala de juntas
			</p>
			<a href="#" class="btn btn-primary ml-auto">
				<i class="fa fa-plus mr-2"></i>
				Agregar
			</a>
		</div>
		<div v-if="meeting_room" class="card-body"></div>
		<div v-else class="card-body">
			No se ha asignado una sala de juntas a esta cita.
		</div>
	</div>

</template>

<script>

	export default {

		data(){

			return {

				meeting_room: null

			}

		}
		
	}

</script>