<template>
	
	<div>
		
		<div class="card shadow-sm">
			
			<div class="card-header d-flex align-items-center">
				<p class="lead m-0">
					<i class="fa fa-truck-moving fa-fw text-muted mr-2"></i>
					Contenedores
				</p>

				<a href="#" class="btn btn-primary ml-auto" @click.prevent="add_container">
					<i class="fa fa-plus mr-2"></i>
					Nuevo
				</a>
			</div>
			

			<table v-if="containers.length" class="table table-striped m-0">
				<thead>
					<tr>
						<th nowrap>Contenedor</th>
						<th nowrap>Emisor</th>
						<th nowrap>No. de candado</th>
						<th nowrap>No. de contenedor</th>
						<th nowrap class="text-center">Eliminar</th>
					</tr>
				</thead>

				<tbody>

					<tr v-for="(container, index) in containers">
						<td>
							
							<a :href="date_container_route(container.id)" v-text="container.name">
								
							</a>

						</td>
						<td v-text="container.issuing_by"></td>
						<td v-text="container.padlock"></td>
						<td v-text="container.number"></td>
						<td class="text-center">
							<a href="#" 
								class="text-danger" 
								@click.prevent="remove_container(container.id, index)">
								Eliminar
							</a>
						</td>
					</tr>
					
				</tbody>
			</table>

			<div v-else class="card-body">
				
				No se han agregado contenedores.

			</div>
	
		</div>


		<modal id="addContainerModal" title="Agegar nuevo contenedor" no_footer="true">
			<template #default>
				
				<form action="" @submit.prevent="submit_form">

					<p class="text-muted">
						Campos requeridos marcardos con 
						(<span class="text-danger">*</span>)
					</p>
					
					<div class="form-group">
						<label for="">Nombre:</label>
						<input type="text" 
							class="form-control"
							name="name"
							v-model="name"
							required>
					</div>

					<div class="form-group">
						<label for="">Descripción</label>
						<textarea name="description" 
							rows="3"
							class="form-control"
							v-model="description"></textarea>
					</div>
		
					<div class="form-group">
						<label for="">Emisor:</label>
						<input type="text" 
							class="form-control"
							name="issuing_by"
							v-model="issuing_by"
							required>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="">No. de candado:</label>
								<input type="text" 
									class="form-control"
									name="padlock"
									v-model="padlock"
									required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="">No. de contenedor:</label>
								<input type="text" 
									class="form-control"
									name="number"
									v-model="number"
									required>
							</div>
						</div>
					</div>

					<button type="submit" ref="submitContainerForm" class="btn btn-primary">
						
						<i class="fa fa-check mr-2"></i>
						Agregar

					</button>

				</form>

			</template>
		</modal>

	</div>
	
</template>

<script>

	import Modal from './Modal';

	export default {

		props: ['date_id', 'status_id', 'available'],

		components: {Modal},

		data(){

			return {

				containers: [],
				name: '',
				description: '',
				issuing_by: '',
				padlock: '',
				number: '',

			}

		},

		mounted(){

			this.get_containers();

		},

		methods: {

			get_containers(){

				let t = this;

				let route = t.$root.$data.root + '/dates/' + t.date_id + '/containers';

				axios.get(route).then(({ data }) => {t.containers = data});

			},

			add_container(){

				let t = this;

				$('#addContainerModal').modal('show');

			},


			submit_form(){


				let t = this;

				let route = t.$root.$data.root + '/containers/';

				let token = t.$root.$data.token;

				let btn = t.$refs.submitContainerForm;				

				let data = new FormData();

				data.append('_token', token);

				data.append('name', t.name);

				data.append('description', t.description);

				data.append('issuing_by', t.issuing_by);

				data.append('padlock', t.padlock);

				data.append('number', t.number);

				data.append('date_id', t.date_id);

				btn.setAttribute('disabled', 'disabled');

				axios.post(route, data).then(({ data }) => {

					t.containers.push(data);

					$('#addContainerModal').modal('hide');

					setTimeout(function(){

						t.reset_data();

					},350);	

					btn.removeAttribute('disabled');

				}).catch((error) => {

					console.log(error.response);

					btn.removeAttribute('disabled');

				});


			},


			reset_data(){

				let t = this;

				t.name = '';
				t.description = '';
				t.issuing_by = '';
				t.padlock = '';
				t.number = '';

			},

			remove_container(id, index){

				let t = this;

				let route = t.$root.$data.root + '/dates/' + t.date_id + '/containers/' + id;

				let confirm = window.confirm('¿Estas seguro que deseas remover este contenedor de la cita?');

				if(confirm){

					let data = new FormData();

					data.append('_method', 'DELETE');

					axios.post(route, data).then(({ data }) => {

						console.log(data);

						t.containers.splice(index, 1);

					});

				}

			},

			date_container_route(container_id){

				let t = this;

				let route = t.$root.$data.root + '/dates/' + t.date_id + '/containers/' + container_id;

				return route;

			}

		}

			
	}

</script>