<template>
	
	<div>
		<div class="card shadow-sm mb-4">
			
			<div class="card-header d-flex align-items-center">
				<p class="lead m-0">
					<i class="fa fa-car mr-2 text-muted fa-fw"></i>
					Vehículos
				</p>
				<a v-if="status_id == 0 && available" href="#"
					class="btn btn-primary ml-auto"
					data-toggle="modal"
					data-target="#newVehicleModal">
					<i class="fa fa-plus mr-2"></i>
					Nuevo
				</a>
			</div>

			<div v-if="vehicles.length" class="table-responsive">
				<table class="table table-striped m-0">
					<thead>
						<tr>
							<th>Vehículo</th>
							<th>Año</th>
							<th>Placas</th>
							<th>Color</th>
							<th>Status</th>
							<th v-if="status_id == 0">Eliminar</th>
						</tr>
					</thead>

					<tbody>
						<tr v-for="vehicle in vehicles">
							<td nowrap>
								<a :href="date_vehicle_route(vehicle.id)" v-text="vehicle.short_name"></a>
							</td>
							<td v-text="vehicle.year"></td>
							<td v-text="vehicle.plates"></td>
							<td v-text="vehicle.color"></td>
							<td v-html="vehicle.status"></td>
							<td v-if="status_id == 0">
								<a href="#" class="text-danger" @click.prevent="remove_vehicle(vehicle.id)">
									Eliminar
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div v-else class="card-body">
				
				No se han agregado vehículos a esta cita.

			</div>

		</div>

		<modal id="newVehicleModal" no_footer="true" title="Agregar nuevo vehículo">
			<template #default>

				
				<div class="alert alert-danger d-flex align-items-start" v-if="errors.length" role="alert">
				    
				    <div>
				    	<p class="m-0" v-for="(error, index) in errors" v-text="error"></p>
				    </div>

				    <button type="button" class="close ml-auto" @click.prevent="errors = []">
				    	
				    	<span aria-hidden="true">&times;</span>

				    </button>

				</div>

				
				<div v-if="company_vehicles.length">
					
					<form action="" @submit.prevent="add_existing_vehicle">
						
						<p>Vehículos de <b v-text="date.company_name"></b></p>

						<div class="form-group d-flex align-items-center">
							<select name="vehicle_id" class="custom-select" v-model="existing_vehicle_id" required>
								<option disabled selected value="">Elige una opción</option>
								<option v-for="vehicle in company_vehicles" :value="vehicle.id" v-text="vehicle.name"></option>
							</select>

							<button type="submit" ref="existing_vehicle_btn" class="btn btn-primary ml-2 nowrap">
								<i class="fa fa-check mr-2"></i> 
								Agregar
							</button>
						</div>

					</form>

					<hr>

					<p class="lead text-center">- Ó Bien -</p>

				</div>

				<form action="" @submit.prevent="add_new_vehicle">
					<p class="mb-2">Llena los siguientes datos para agrear un nuevo vehíulo.</p>

					<p class="text-muted">Campos requeridos marcados con (<span class="text-danger">*</span>)</p>

					<div class="form-row">
						<div class="col-sm-6">
							<div class="form-group">
								<label><span class="text-danger">*</span>Tipo:</label>
								<select class="custom-select" 
									name="type_id"
									v-model="new_vehicle.type_id"
									required>

									<option disabled selected value="">Elige una opción</option>

									<option value="0">MICRO</option>
									<option value="1">SEDAN</option>
									<option value="2">CUV</option>
									<option value="3">SUV</option>
									<option value="4">HATCHBACK</option>
									<option value="5">ROADSTER</option>
									<option value="6">PICKUP</option>
									<option value="7">VAN</option>
									<option value="8">COUPE</option>
									<option value="9">SUPER-CAR</option>
									<option value="10">CAMPER-VAN</option>
									<option value="11">MINI-TRUCK</option>
									<option value="12">CABRIOLET</option>
									<option value="13">MINI-VAN</option>
									<option value="14">TRUCK</option>
									<option value="15">BIG-TRUCK</option>
									
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label><span class="text-danger">*</span>Año:</label>
								<input type="text" 
									name="year"
									v-model="new_vehicle.year"
									class="form-control"
									required>
							</div>
						</div>
					</div>

					<div class="form-row">
						<div class="col-sm-6">
							<div class="form-group">
								<label><span class="text-danger">*</span>Marca:</label>
								<input type="text" 
									name="brand"
									v-model="new_vehicle.brand"
									class="form-control"
									required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label><span class="text-danger">*</span>Modelo:</label>
								<input type="text" 
									name="model" 
									v-model="new_vehicle.model"
									class="form-control"
									required>
							</div>
						</div>
					</div>

					<div class="form-row">
						<div class="col-sm-6">
							<div class="form-group">
								<label><span class="text-danger">*</span>Placas:</label>
								<input type="text" 
									name="plates" 
									v-model="new_vehicle.plates"
									class="form-control"
									required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label><span class="text-danger">*</span>Color:</label>
								<input type="text" 
									name="color" 
									v-model="new_vehicle.color"
									class="form-control"
									required>
							</div>
						</div>
					</div>

					<button type="submit" ref="new_vehicle_btn" class="btn btn-primary">
						<i class="fa fa-check mr-2"></i>
						Agregar
					</button>
				</form>

			</template>
		</modal>
	</div>

</template>

<script>

	import Modal from './Modal';

	export default {

		components: {Modal},

		props: ['date_id', 'status_id', 'available'],

		data(){

			return {

				errors: [],
				date: [],
				vehicles: [],
				company_vehicles: [],
				existing_vehicle_id: '',
				new_vehicle: {

					type_id: '',
					year: '',
					brand: '',
					model: '',
					plates: '',
					color: ''

				}

			}

		},

		mounted(){

			this.get_date();

		},

		methods: {

			date_vehicle_route(date_vehicle_id){

				let t = this;

				let route = t.$root.$data.root + '/dates/' + t.date_id + '/vehicles/' + date_vehicle_id;

				return route;

			},

			get_date(){

				let t = this;

				let route = t.$root.$data.root + '/get-date/' + t.date_id;

				axios.get(route).then(({ data }) => {

					t.date 				= data;
					t.vehicles 			= data.vehicles;
					t.company_vehicles 	= data.company.vehicles;
				
				});

			},

			add_new_vehicle(){


				let t = this;

				let route = t.$root.$data.root + '/add-new-vehicle-to-date/' + t.date_id;

				let btn = t.$refs.new_vehicle_btn;

				let data = new FormData();

				data.append('type_id', t.new_vehicle.type_id);
				data.append('brand', t.new_vehicle.brand);
				data.append('model', t.new_vehicle.model);
				data.append('year', t.new_vehicle.year);
				data.append('plates', t.new_vehicle.plates);
				data.append('color', t.new_vehicle.color);

				btn.setAttribute('disabled', 'disabled');

				axios.post(route, data).then(({ data }) => {
				
					location.reload();
				
				}).catch((data) => {
					
					for(let error in data.response.data.errors){

						let msg = data.response.data.errors[error][0];

						t.errors.push(msg);

					}

					btn.removeAttribute('disabled');

				});
				


			},

			add_existing_vehicle(){

				let t = this;

				let btn = t.$refs.existing_vehicle_btn;

				let token = t.$root.$data.token;

				let route = t.$root.$data.root + '/add-existing-vehicle-to-date/' + t.date_id;

				let data = new FormData();

				data.append('_token', token);

				data.append('vehicle_id', t.existing_vehicle_id);


				btn.setAttribute('disabled', 'disabled');

				t.errors = [];

				axios.post(route, data).then(({ data }) => {
				

					location.reload();
				
				
				}).catch((error) => {
					
					t.errors.push(error.response.data.errors[0]);
					
					btn.removeAttribute('disabled');

				});

				
			},

			remove_vehicle(vehicle_id){


				let t = this;

				let confirm = window.confirm('¿Estás seguro que deseas remover este vehículo de la cita?');
				
				if(confirm){

					let token = t.$root.$data.token;

					let route = t.$root.$data.root + '/remove-vehicle/'+ vehicle_id +'/from-date/' + t.date_id;

					let data = new FormData();

					data.append('_token', token);

					data.append('_method', 'DELETE');

					axios.post(route, data).then(({ data }) => {
					
					
						location.reload();
					
					
					});

				}

			},

			reset_form(){

				let t = this;

				t.existing_vehicle_id = '',
				t.new_vehicle = {

					type_id: '',
					year: '',
					brand: '',
					model: '',
					plates: '',
					color: ''

				}

			}

		}
		
	}

</script>