<template>
	
	<div class="card shadow-sm">
		
		<div class="card-header d-flex align-items-center">
			<p class="lead m-0">Calendario de citas</p>
		</div>

		<div class="d-flex flex-1">
			<full-calendar :events="dates" 
						:monthNames="monthNames" 
						:weekNames="weekNames" 
						@dayClick="dayClick"
						@eventClick="eventClick" />
		</div>

		<modal id="showEventModal" title="Información de cita" no_footer="true">
			<template #default>
				<table class="table table-borderless table-sm m-0">
					<tr>
						<th width="30%">Compañía:</th>
						<td v-text="date.company_name"></td>
					</tr>

					<tr>
						<th>Asunto:</th>
						<td v-text="date.subject"></td>
					</tr>

					<tr>
						<th>Descripción:</th>
						<td v-text="date.description"></td>
					</tr>

					<tr>
						<th>Fecha y hora:</th>
						<td v-text="date.start"></td>
					</tr>

					<tr>
						<th>Vigencia:</th>
						<td v-text="date.end"></td>
					</tr>

					<tr>
						<th>Total de visitantes:</th>
						<td v-text="date.visitors_total"></td>
					</tr>

					<tr>
						<th>Ver más:</th>
						<td>
							<a :href="date_route()">
								Ir a la cita
								<i class="fa fa-angle-right fa-sm ml-2"></i>
							</a>
						</td>
					</tr>
				</table>
			</template>
		</modal>

	</div>

</template>

<script>

	import fullCalendar from 'vue-fullcalendar';

	import Modal from './Modal';

	export default {

		name: 'host-calendar',

		props: ['user_id'],

		components: {fullCalendar, Modal},

		data(){

			return {

				user: [],

				host: [],

				dates: [],

				date: [],

				weekNames   : ['Dom', 'Lun','Mar','Mie','Jue','Vie','Sab'],

				monthNames  : ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],

			}

		},

		mounted(){

			this.get_host_with_dates();

		},

		methods: {

			get_host_with_dates(){

				let t = this;

				let route = t.$root.$data.root + '/user/' + t.user_id + '/host-dates';

				axios.get(route).then(({ data }) => {
				
					t.dates = data.dates;

					t.host = data.host;

					t.user = data.user;
				
				});

			},

		    dayClick(day, jsEvent){

		    	let t = this;

		    	console.log('dayClick', day, jsEvent);

		    	let date_day = ('0' + day.getDate()).slice(-2);

		    	let date_month = ('0' + (day.getMonth() + 1)).slice(-2);

		    	let date_year = day.getFullYear();

		    	let full_date = date_year +'-'+ date_month +'-'+ date_day + ' 00:00:00';

		    	let confirm = window.confirm('¿Deseas agregar una cita para esta fecha?');

		    	if(confirm){

		    		window.location.href = t.$root.$data.root + '/dates/create/?date=' + full_date;

		    	}

		    },

		    eventClick(event, jsEvent, pos){

		    	let t = this;

		    	console.log('eventClick', event, jsEvent, pos);

		    	t.date = event.data;

		    	$('#showEventModal').modal('show');

		    },

		    date_route(){

		    	let t = this;

		    	let route = t.$root.$data.root + '/dates/' + t.date.id;

		    	return route;

		    }

		}
		
	}

</script>