<template>
	
	<div class="modal fade" :id="id" tabindex="-1" role="dialog" :aria-labelledby="id + 'Label'" aria-hidden="true">
		<div class="modal-dialog" :class="size" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" :id="id + 'Label'" v-text="title"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<slot></slot>				
				</div>
				<div v-if="!no_footer" class="modal-footer">
					<slot name="footer"></slot>
				</div>
			</div>
		</div>
	</div>

</template>

<script>

	export default {

		props: ['id', 'title', 'size', 'no_footer']
		
	}

</script>