<template>
	

	<div class="w-100 mr-2">
		
		<button class="nowrap btn btn-outline-primary btn-sm btn-block" ref="set_camera_btn" @click.prevent="get_date_visitor">
			<i class="fa fa-print mr-1"></i>
			Imprimir gafete
		</button>

		<modal :id="date_visitor_id + 'TakeVisitorPictures'" no_footer="true" :title="modal_title" size="modal-lg">
			<template #default>
				
				<div v-if="!print_btn" class="text-left">
					<div v-if="visitor">
				
						<div class="form-group">
							<select v-model="camera" class="custom-select">
							    <option disabled selected value="">Elige una cámara</option>
							    <option
							        v-for="device in devices"
							        :key="device.deviceId"
							        :value="device.deviceId"
							    >{{ device.label }}</option>
							</select>
						</div>


						<div class="row">
				            <div class="col-md-6">
				                
								<p class="lead">Captura de {{ face_id ? 'identificación' : 'fotografía' }}</p>

				                <vue-web-cam
				                    ref="webcam"
				                    :device-id="deviceId"
				                    width="100%"
				                    height="276px"
				                    @started="onStarted"
				                    @stopped="onStopped"
				                    @error="onError"
				                    @cameras="onCameras"
				                    @camera-change="onCameraChange"
				                    style="border: 0 !important"
				                />

				                <button type="button" class="btn btn-primary btn-block btn-lg custom_margin" @click="onCapture">
				                	<i class="fa mr-2" :class="face_id ? 'fa-id-card' : 'fa-camera'"></i>
				                	{{ face_id ? 'Escanear' : 'Tomar fotografía' }}
				                </button>

				            </div>
				            <div class="col-md-6">
				                
				                <p class="lead">Imágen capturada</p>
				                
				                <figure class="figure mb-0 pb-0">
				                    <img :src="img" class="img-fluid" />
				                </figure>
				
								<button v-if="img" type="button" class="btn btn-outline-success btn-block btn-lg mt-4" @click.prevent="save_picture">
									Guardar y continuar
									<i class="fa fa-angle-right fa-sm ml-2"></i>
								</button>

				            </div>
				        </div>

					</div>
				</div>

				<div v-else class="text-center">

					<div class="row">
						<div class="col-sm-5 mx-auto mb-4">
							<img src="/img/undraw_profile_6l1l.svg" class="img-fluid" alt="">
						</div>
					</div>
					
					<p>El gafete de <b v-text="visitor.full_name"></b> esta listo para imprimirse.</p>

					<button type="button" ref="print_label_btn" class="btn btn-primary" @click.prevent="print_label">
						<i class="fa fa-print"></i>
						Imprimir
					</button>


				</div>

			</template>
		</modal>
		
	</div>

</template>

<script>

	import Modal from './Modal';
	import { WebCam } from "vue-web-cam";

	export default {

		props: ['date_id', 'date_visitor_id'],

		components: {
			'modal': Modal, 
			'vue-web-cam': WebCam
		},

		data(){

			return{

				visitor: null,
				img: null,
	            camera: null,
	            deviceId: null,
	            devices: [],
	            face_id: null,
	            card_id: null,
	            print_btn: null,

			}

		},

		mounted(){


		},

		computed: {
	        device: function() {
	            return this.devices.find(n => n.deviceId === this.deviceId);
	        },
	        modal_title(){

	        	let t = this;

	        	if(t.visitor){

	        		if(t.print_btn){

	        			return 'Imprimir gafete';	


	        		}else if(!t.face_id){

	        			return 'Fotografía de ' + t.visitor.full_name;

	        		}else{

	        			return 'Escanear identificación';

	        		}


	        	}

	        }
	    },

	    watch: {
	        camera: function(id) {
	            this.deviceId = id;
	        },
	        devices: function() {
	            // Once we have a list select the first one
	            const [first, ...tail] = this.devices;
	            if (first) {
	                this.camera = first.deviceId;
	                this.deviceId = first.deviceId;
	            }
	        }
	    },

		methods: {

			get_date_visitor(){

				let t = this;

				let route = t.$root.$data.root + '/dates/' + t.date_id + '/visitors/' + t.date_visitor_id;

				let btn = t.$refs.set_camera_btn;

				btn.setAttribute('disabled', 'disabled');

				axios.get(route).then(({ data }) => {

					t.visitor = data;

					t.face_id = data.face_id;

					t.card_id = data.card_id;

					if(data.face_id && data.card_id){

						t.print_btn = true;

					}

					$('#' + t.date_visitor_id + 'TakeVisitorPictures').modal('show');

					btn.removeAttribute('disabled');
				
				});

			},

			save_picture(){

				let t = this;

				if(!t.face_id){

					t.face_id = t.img;

					t.img = null;

				}else{

					t.card_id = t.img;

					t.save_images_and_show_print_btn();

				}

			},

			onCapture() {
	            this.img = this.$refs.webcam.capture();
	        },
	        onStarted(stream) {
	            console.log("On Started Event", stream);
	        },
	        onStopped(stream) {
	            console.log("On Stopped Event", stream);
	        },
	        onStop() {
	            this.$refs.webcam.stop();
	        },
	        onStart() {
	            this.$refs.webcam.start();
	        },
	        onError(error) {
	            console.log("On Error Event", error);
	        },
	        onCameras(cameras) {
	            this.devices = cameras;
	            console.log("On Cameras Event", cameras);
	        },
	        onCameraChange(deviceId) {
	            this.deviceId = deviceId;
	            this.camera = deviceId;
	            console.log("On Camera Change Event", deviceId);
	        },

	        save_images_and_show_print_btn(){

	        	let t = this;

	        	let token = t.$root.$data.token;

	        	let route = t.$root.$data.root + '/store-pictures/' + t.date_visitor_id;

	        	let data = new FormData();

	        	data.append('_token', token);
	        	data.append('face_id', t.face_id);
	        	data.append('card_id', t.card_id);

	        	axios.post(route, data).then(({ data }) => {
	        	
	        		console.log(data);

	        		t.get_date_visitor();
	        	
	        	});
	        	

	        },

	        print_label(){

	        	let t = this;

	        	let btn = t.$refs.print_label_btn;

	        	btn.setAttribute('disabled', 'disabled');

	        	setTimeout(function(){

	        		let xml = t.build_xml();

	        		let label = dymo.label.framework.openLabelXml(xml);

	        		let printers = dymo.label.framework.getPrinters();
	        		
	        		if (printers.length == 0){

	        			throw "No hay impresoras DYMO instaladas en este equipo.";

	        		}

	        		var printer_name = "";

	        		for (var i = 0; i < printers.length; ++i)
	        		{
	        		    var printer = printers[i];
	        		    if (printer.printerType == "LabelWriterPrinter")
	        		    {
	        		        printer_name = printer.name;
	        		        break;
	        		    }
	        		}

	        		label.print(printer_name);

	        		btn.removeAttribute('disabled');

	        		$('.modal').modal('hide');

	        		setTimeout(function(){

	        			location.reload();

	        		}, 300);

	        	}, 250);

	        },

	        build_xml(){

	        	let t = this;

	        	let xml = `

					<DieCutLabel Version="8.0" Units="twips">
						<PaperOrientation>Landscape</PaperOrientation>
						<Id>NameBadge</Id>
						<IsOutlined>false</IsOutlined>
						<PaperName>30256 Shipping</PaperName>
						<DrawCommands>
							<Path>
								<FillMode>EvenOdd</FillMode>
								<RoundRectangle X="0" Y="0" Width="3331" Height="5760" Rx="180" Ry="180" />
								<RoundRectangle X="2880" Y="2520" Width="180" Height="720" Rx="120" Ry="120" />
							</Path>
						</DrawCommands>
						<ObjectInfo>
							<ImageObject>
								<Name>GRÁFICA</Name>
								<ForeColor Alpha="255" Red="0" Green="0" Blue="0" />
								<BackColor Alpha="0" Red="255" Green="255" Blue="255" />
								<LinkedObjectName />
								<Rotation>Rotation0</Rotation>
								<IsMirrored>False</IsMirrored>
								<IsVariable>False</IsVariable>
								<GroupID>-1</GroupID>
								<IsOutlined>False</IsOutlined>
								<Image>`+t.face_id+`</Image>
								<ScaleMode>Uniform</ScaleMode>
								<BorderWidth>0</BorderWidth>
								<BorderColor Alpha="255" Red="0" Green="0" Blue="0" />
								<HorizontalAlignment>Center</HorizontalAlignment>
								<VerticalAlignment>Top</VerticalAlignment>
							</ImageObject>
							<Bounds X="336.000000000002" Y="591.000000000001" Width="1335.42857142857" Height="1890.85714285714" />
						</ObjectInfo>
						<ObjectInfo>
							<TextObject>
								<Name>TEXTO</Name>
								<ForeColor Alpha="255" Red="0" Green="0" Blue="0" />
								<BackColor Alpha="0" Red="255" Green="255" Blue="255" />
								<LinkedObjectName />
								<Rotation>Rotation0</Rotation>
								<IsMirrored>False</IsMirrored>
								<IsVariable>False</IsVariable>
								<GroupID>-1</GroupID>
								<IsOutlined>False</IsOutlined>
								<HorizontalAlignment>Left</HorizontalAlignment>
								<VerticalAlignment>Top</VerticalAlignment>
								<TextFitMode>None</TextFitMode>
								<UseFullFontHeight>True</UseFullFontHeight>
								<Verticalized>False</Verticalized>
								<StyledText>
									<Element>
										<String xml:space="preserve">Nombre: </String>
										<Attributes>
											<Font Family="Arial" Size="8" Bold="True" Italic="False" Underline="False" Strikeout="False" />
											<ForeColor Alpha="255" Red="0" Green="0" Blue="0" HueScale="100" />
										</Attributes>
									</Element>
									<Element>
										<String xml:space="preserve">`+t.visitor.full_name+`</String>
										<Attributes>
											<Font Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" />
											<ForeColor Alpha="255" Red="0" Green="0" Blue="0" HueScale="100" />
										</Attributes>
									</Element>
								</StyledText>
							</TextObject>
							<Bounds X="1846" Y="618.000000000001" Width="3672" Height="311.999999999999" />
						</ObjectInfo>
						<ObjectInfo>
							<TextObject>
								<Name>TEXTO_1</Name>
								<ForeColor Alpha="255" Red="0" Green="0" Blue="0" />
								<BackColor Alpha="0" Red="255" Green="255" Blue="255" />
								<LinkedObjectName />
								<Rotation>Rotation0</Rotation>
								<IsMirrored>False</IsMirrored>
								<IsVariable>False</IsVariable>
								<GroupID>-1</GroupID>
								<IsOutlined>False</IsOutlined>
								<HorizontalAlignment>Left</HorizontalAlignment>
								<VerticalAlignment>Top</VerticalAlignment>
								<TextFitMode>None</TextFitMode>
								<UseFullFontHeight>True</UseFullFontHeight>
								<Verticalized>False</Verticalized>
								<StyledText>
									<Element>
										<String xml:space="preserve">Compañía: </String>
										<Attributes>
											<Font Family="Arial" Size="8" Bold="True" Italic="False" Underline="False" Strikeout="False" />
											<ForeColor Alpha="255" Red="0" Green="0" Blue="0" HueScale="100" />
										</Attributes>
									</Element>
									<Element>
										<String xml:space="preserve">`+ t.visitor.company_name +`</String>
										<Attributes>
											<Font Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" />
											<ForeColor Alpha="255" Red="0" Green="0" Blue="0" HueScale="100" />
										</Attributes>
									</Element>
								</StyledText>
							</TextObject>
							<Bounds X="1846" Y="828.000000000001" Width="3672" Height="276" />
						</ObjectInfo>
						<ObjectInfo>
							<TextObject>
								<Name>TEXTO__1</Name>
								<ForeColor Alpha="255" Red="0" Green="0" Blue="0" />
								<BackColor Alpha="0" Red="255" Green="255" Blue="255" />
								<LinkedObjectName />
								<Rotation>Rotation0</Rotation>
								<IsMirrored>False</IsMirrored>
								<IsVariable>False</IsVariable>
								<GroupID>-1</GroupID>
								<IsOutlined>False</IsOutlined>
								<HorizontalAlignment>Left</HorizontalAlignment>
								<VerticalAlignment>Top</VerticalAlignment>
								<TextFitMode>None</TextFitMode>
								<UseFullFontHeight>True</UseFullFontHeight>
								<Verticalized>False</Verticalized>
								<StyledText>
									<Element>
										<String xml:space="preserve">Fecha y hora: </String>
										<Attributes>
											<Font Family="Arial" Size="8" Bold="True" Italic="False" Underline="False" Strikeout="False" />
											<ForeColor Alpha="255" Red="0" Green="0" Blue="0" HueScale="100" />
										</Attributes>
									</Element>
									<Element>
										<String xml:space="preserve">`+t.visitor.start_at+`</String>
										<Attributes>
											<Font Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" />
											<ForeColor Alpha="255" Red="0" Green="0" Blue="0" HueScale="100" />
										</Attributes>
									</Element>
								</StyledText>
							</TextObject>
							<Bounds X="1846" Y="1053" Width="3672" Height="276" />
						</ObjectInfo>
						<ObjectInfo>
							<TextObject>
								<Name>TEXTO___1</Name>
								<ForeColor Alpha="255" Red="0" Green="0" Blue="0" />
								<BackColor Alpha="0" Red="255" Green="255" Blue="255" />
								<LinkedObjectName />
								<Rotation>Rotation0</Rotation>
								<IsMirrored>False</IsMirrored>
								<IsVariable>False</IsVariable>
								<GroupID>-1</GroupID>
								<IsOutlined>False</IsOutlined>
								<HorizontalAlignment>Left</HorizontalAlignment>
								<VerticalAlignment>Top</VerticalAlignment>
								<TextFitMode>None</TextFitMode>
								<UseFullFontHeight>True</UseFullFontHeight>
								<Verticalized>False</Verticalized>
								<StyledText>
									<Element>
										<String xml:space="preserve">Vigencia: </String>
										<Attributes>
											<Font Family="Arial" Size="8" Bold="True" Italic="False" Underline="False" Strikeout="False" />
											<ForeColor Alpha="255" Red="0" Green="0" Blue="0" HueScale="100" />
										</Attributes>
									</Element>
									<Element>
										<String xml:space="preserve">`+ t.visitor.end_at +`</String>
										<Attributes>
											<Font Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" />
											<ForeColor Alpha="255" Red="0" Green="0" Blue="0" HueScale="100" />
										</Attributes>
									</Element>
								</StyledText>
							</TextObject>
							<Bounds X="1846" Y="1293" Width="3672" Height="276" />
						</ObjectInfo>
						<ObjectInfo>
							<TextObject>
								<Name>TEXTO____1</Name>
								<ForeColor Alpha="255" Red="0" Green="0" Blue="0" />
								<BackColor Alpha="0" Red="255" Green="255" Blue="255" />
								<LinkedObjectName />
								<Rotation>Rotation0</Rotation>
								<IsMirrored>False</IsMirrored>
								<IsVariable>False</IsVariable>
								<GroupID>-1</GroupID>
								<IsOutlined>False</IsOutlined>
								<HorizontalAlignment>Left</HorizontalAlignment>
								<VerticalAlignment>Top</VerticalAlignment>
								<TextFitMode>None</TextFitMode>
								<UseFullFontHeight>True</UseFullFontHeight>
								<Verticalized>False</Verticalized>
								<StyledText>
									<Element>
										<String xml:space="preserve">Departamento: </String>
										<Attributes>
											<Font Family="Arial" Size="8" Bold="True" Italic="False" Underline="False" Strikeout="False" />
											<ForeColor Alpha="255" Red="0" Green="0" Blue="0" HueScale="100" />
										</Attributes>
									</Element>
									<Element>
										<String xml:space="preserve">`+ t.visitor.department_name +`</String>
										<Attributes>
											<Font Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" />
											<ForeColor Alpha="255" Red="0" Green="0" Blue="0" HueScale="100" />
										</Attributes>
									</Element>
								</StyledText>
							</TextObject>
							<Bounds X="1846" Y="1518" Width="3672" Height="276" />
						</ObjectInfo>
						<ObjectInfo>
							<BarcodeObject>
								<Name>CÓDIGO DE BARRAS</Name>
								<ForeColor Alpha="255" Red="0" Green="0" Blue="0" />
								<BackColor Alpha="0" Red="255" Green="255" Blue="255" />
								<LinkedObjectName />
								<Rotation>Rotation0</Rotation>
								<IsMirrored>False</IsMirrored>
								<IsVariable>True</IsVariable>
								<GroupID>-1</GroupID>
								<IsOutlined>False</IsOutlined>
								<Text>`+t.visitor.date_visitor_id+`</Text>
								<Type>Code128Auto</Type>
								<Size>Medium</Size>
								<TextPosition>None</TextPosition>
								<TextFont Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" />
								<CheckSumFont Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" />
								<TextEmbedding>None</TextEmbedding>
								<ECLevel>0</ECLevel>
								<HorizontalAlignment>Left</HorizontalAlignment>
								<QuietZonesPadding Left="0" Top="0" Right="0" Bottom="0" />
							</BarcodeObject>
							<Bounds X="336" Y="2679" Width="3636" Height="383.999999999999" />
						</ObjectInfo>
					</DieCutLabel>

	        	`;

	        	return xml;

	        }

		}
		
	}

</script>

<style>

	.custom_margin{
		margin-top: 18px !important
	}

</style>